<div style="width: 100%; text-align: center;">
    <h1 mat-dialog-title>Join Game</h1>

    <div mat-dialog-content style="text-align: center; width: 100%;">
        <mat-list>
            <mat-list-item>Username:{{username}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Rank:{{rank}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Score:{{score}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-form-field>
                    <mat-select ngModel name="fGame" placeholder="Favourite game"  ng-required="fGame" required>
                            <mat-option *ngFor="let g of gameList"  value="{{g.title}}">{{g.title}}</mat-option>
                          </mat-select>
                       </mat-form-field>
          </mat-list>
    </div>
    <div mat-dialog-actions>
        <button mat-button  (click)="joinGame()">join</button>
        <button mat-button  (click)="cancelGame()">Cancel</button>
    </div>
</div>      