<div style="width: 100%; text-align: center;">
    <h1 mat-dialog-title>Join Game</h1>

    <div mat-dialog-content style="text-align: center; width: 100%;">
        <mat-list>
            <mat-list-item></mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Rank:</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Score:</mat-list-item>
            <mat-divider></mat-divider>
            <mat-form-field>
                <mat-label>Favourite Game</mat-label>
                <select matNativeControl required>
                  <option value="game1">game1</option>
                  <option value="game2">game2</option>
                  <option value="game3">game3</option>
                  <option value="game4">game4</option>
                </select>
              </mat-form-field>
          </mat-list>
    </div>
    <div mat-dialog-actions>
        <button mat-button  (click)="joinGame()">join</button>
        <button mat-button  (click)="cancelGame()">Cancel</button>
    </div>
</div>      