
<div fxFlex="value%" fxFlexAlign="center">
  <div style="width: 100%; text-align: center;">
    <h1 mat-dialog-title>Admin Login</h1>

    <div mat-dialog-content style="text-align: center; width: 100%;">
        <mat-list>
            <mat-form-field>
                <input matInput  placeholder="Username/Email" [(ngModel)]= "user" >
            </mat-form-field>
            <br />
            <mat-form-field>
                <input matInput placeholder="Enter your password" [(ngModel)]= "pass" [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'show' : 'hide'}}</mat-icon>
                </button>
            </mat-form-field>
        </mat-list>
    </div>
    <div mat-dialog-actions  >
        <button mat-button  (click)="onClick()" style="margin: 0 auto;">Login</button>
    </div>
</div>

</div>
