.container{
    width: 80%;
    margin: auto;
}

.main {
    width: 100%;
    margin-top: 5rem;
}

mat-form-field {
    display: block;
}

button {
    margin: 2em;
}

#btnContainer{
    width: 80%;
    margin: auto;
}

.adBtn{
    width: 50%;
    margin: auto;
}

#resBtn{
    width: 100%;
    margin: auto;
}