<div class="main">
    <div class="container">
    <form (ngSubmit)="onAddPlayer(playForm)" #playForm="ngForm">
        <mat-card>
            <input type="hidden" name="id" #id="ngModel" [(ngModel)]="playS.selectedPlayer._id">
            <mat-form-field>
                <input matInput ngModel name="username"  placeholder="Username">
            </mat-form-field>
            <mat-form-field>
                <mat-select ngModel name="rank" placeholder="Rank:">
                    <mat-option value="1">1</mat-option>
                    <mat-option value="2">2</mat-option>
                    <mat-option value="3">3</mat-option>
                    <mat-option value="4">4</mat-option>
                    <mat-option value="5">5</mat-option>
                    <mat-option value="6">6</mat-option>
                    <mat-option value="7">7</mat-option>
                    <mat-option value="8">8</mat-option>
                    <mat-option value="9">9</mat-option>
                    <mat-option value="10">10</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <input matInput ngModel name="score" type="string" ng-pattern="/^[0-9]{1,7}$/" placeholder="Score">
            </mat-form-field>

            <mat-form-field>
                <input matInput ngModel name="time" type="string" placeholder="Time: ">
            </mat-form-field>

            <mat-form-field>
                <mat-select ngModel name="fGame" placeholder="Favourite game:">
                    <mat-option value="Overwatch">Overwatch</mat-option>
                    <mat-option value="option">Option</mat-option>
                    <mat-option value="option">Option</mat-option>
                    <mat-option value="option">Option</mat-option>
                    <mat-option value="option">Option</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-select ngModel name="status" placeholder="Status:">
                    <mat-option value="Available">Available</mat-option>
                    <mat-option value="NotAv">Non Available</mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-raised-button type="submit" [disabled]="playForm.invalid"  color="primary">Add Player</button>
            <button mat-raised-button color="accent">Go back</button>
            <button mat-raised-button color="warn" (click)="resetForm()">Reset Form</button>
    </mat-card></form>
    </div>
</div>
