<div class="main">
  <div class="container">
    <form (ngSubmit)="onAddPlayer(playForm)" #playForm="ngForm">
      <mat-card>
        <input type="hidden" name="id" #id="ngModel" class="formControl" [(ngModel)]="playS.selectedPlayer._id">

        <mat-form-field>
          <input matInput ngModel name="username" id="username" class="formControl" placeholder="Username"
            ng-required="user" required>
        </mat-form-field>

        <mat-form-field>
          <mat-select ngModel name="rank" placeholder="Rank:" ng-required="rank" required>
            <mat-option value="1">1</mat-option>
            <mat-option value="2">2</mat-option>
            <mat-option value="3">3</mat-option>
            <mat-option value="4">4</mat-option>
            <mat-option value="5">5</mat-option>
            <mat-option value="6">6</mat-option>
            <mat-option value="7">7</mat-option>
            <mat-option value="8">8</mat-option>
            <mat-option value="9">9</mat-option>
            <mat-option value="10">10</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <input matInput ngModel name="score" type="number" ng-pattern="/^[0-9]{1,7}$/" placeholder="Score" ng-required="score" required>
        </mat-form-field>

        <mat-form-field>
          <input matInput ngModel name="time" type="number" placeholder="Time Played (In hours) " ng-required="time" required>
        </mat-form-field>

        <mat-form-field>
          <mat-select ngModel name="fGame" placeholder="Favourite game"  ng-required="fGame" required>
            <mat-option *ngFor="let g of gameList"  value="{{g.title}}">{{g.title}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-select ngModel name="status" placeholder="Status:" ng-required="status" required>
            <mat-option value=true >Available</mat-option>
            <mat-option value=false >Non Available</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-raised-button type="submit" [disabled]="playForm.invalid" color="primary">Add Player</button>
        <button mat-raised-button color="accent" (click)="goback()">Go back</button>
        <button mat-raised-button color="warn" (click)="resetForm()">Reset Form</button>
      </mat-card>
    </form>
  </div>
</div>
