<form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Player">
        </mat-form-field>
        <mat-label>rating</mat-label>
        <select matNativeControl required>
          <option value="game1">1</option>
          <option value="game2">2</option>
          <option value="game3">3</option>
          <option value="game4">4</option>
        </select>
        <mat-form-field class="example-full-width">
          <textarea matInput placeholder="Leave a comment"></textarea>
        </mat-form-field>
        <mat-form-field class="example-full-width">
                <textarea matInput placeholder="Time"></textarea>
        </mat-form-field>
        <mat-label>Favourite Game</mat-label>
        <select matNativeControl required>
                <option value="game1">1</option>
                <option value="game2">2</option>
                <option value="game3">3</option>
                <option value="game4">4</option>
        </select>
        <mat-label>Status</mat-label>
        <select matNativeControl required>
                <option value="true">unavailable</option>
                <option value="false">availalbe</option>
        </select>
      </form>