<table mat-table [dataSource]="players" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      <!-- Username Column -->
      <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Username </th>
            <td mat-cell *matCellDef="let player"> {{player._id}} </td>
          </ng-container>
        <!-- Username Column -->
        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef> Username </th>
          <td mat-cell *matCellDef="let player"> {{player.username}} </td>
        </ng-container>

        <!-- Rank Column -->
        <ng-container matColumnDef="rank">
          <th mat-header-cell *matHeaderCellDef> Rank </th>
          <td mat-cell *matCellDef="let player"> {{player.rank}} </td>
        </ng-container>

        <!-- Score Column -->
        <ng-container matColumnDef="score">
          <th mat-header-cell *matHeaderCellDef> Score </th>
          <td mat-cell *matCellDef="let player"> {{player.score}} </td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let player">
                  <p >{{player.status==true? 'Available' : 'Unavailable'}}</p>
                </td>
              </ng-container>


        <!-- Time played Column -->
        <ng-container matColumnDef="time">
                <th mat-header-cell *matHeaderCellDef> Time </th>
                <td mat-cell *matCellDef="let player"> {{player.time}} </td>
              </ng-container>

        <!-- Favourite game Column -->
        <ng-container matColumnDef="fGame">
                <th mat-header-cell *matHeaderCellDef> Favourite Game </th>
                <td mat-cell *matCellDef="let player"> {{player.fGame}} </td>
              </ng-container>
              <!-- Username Column -->
        <ng-container matColumnDef="join">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let player"><button mat-raised-button color="accent" [disabled]="!player.status==true" (click)="joinGame(player.username,player.rank,player.score,player.fGame,player.time,player.status)">join</button></td>
              </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator #paginator
      [pageIndex]="0"
      [pageSize]="50"
      [pageSizeOptions]="[25, 50, 100, 250]">
    </mat-paginator>
