<div class="mat-elevation-z8 adminview">
<div class="mat-elevation-z8 adminselect">
    <span id="spacer"> </span>
    <button mat-raised-button class="spacer" (click)="add_player()"> Add a new player</button>
  <button class="selector" mat-raised-button (click)="selectGame()">Games</button>
  <button class="selector" mat-raised-button (click)="selectPlayer()">Players</button>
</div>
<div *ngIf="gameview; else player">
  <app-games-table></app-games-table>
</div>
<div>
<ng-template #player>
  <app-admin-player-list></app-admin-player-list>
</ng-template>
</div>
