.adminselect{
    width: 80%;
    margin: 20px auto;
}

.adminview{
    width: 80%;
    margin: 20px auto;
}
.selector{
    width: 50%;
}

.spacer {
    width: 20%;
    margin: auto;
  }
#spacer{
    width: 80%;
}